<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sam Boerner</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/a7b0680701.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--Header-->
    <div id="header">
        <div class="container">
            <nav>
                <h1><span>Sam</span>Boerner.</h1>
                <ul id="menu">
                    <li><a href="#header">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <i class="fa-solid fa-circle-xmark" onclick="closemenu()"></i>
                </ul>
                <i class="fa-solid fa-bars" onclick="openmenu()"></i>
            </nav>
            <div class="header-text">
                <h1>Hello, Im <span class="typing"></span></h1>
                <p>A Software Developer</p>
            </div>
        </div>
    </div>
    <!--About-->
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="/static/images/profile.jfif">
                </div>
                <div class="about-col-2">
                    <h1 class="subtitle">About Me</h1>
                    <p>
                        My name is Sam Boerner, and I am a software developer from Des Moines, Iowa.
                        I have been programming for around 5 years now. I have developed my skills from my time
                        studying Computer Science and Management Information Systems at Iowa State University, 
                        as well as from working on personal projects. My favorite 
                        language to develop in is Python, but I am well-versed in a variety of other languages and
                        frameworks.
                    </p>
                    <br>
                    <p>
                        In my free time, I enjoy watching movies, reading, and working out. I am also a bit of a 
                        music nerd. I am able to play the piano, guitar, and drums.
                        I even used to be in a percussion ensemble group that would perform at various locations around Iowa and Nebraska!
                    </p>
                    <br>
                    <p>
                        Please feel free to take a look around my website and check out some of the projects I've worked on! You can 
                        also contact me using the form at the bottom.
                    </p>
                    <div class="tab-titles">
                        <p class="tab-links" id="Skills" onclick="opentab('skills', 'Skills')">Skills</p>
                        <p class="tab-links" id="Education" onclick="opentab('education', 'Education')">Education</p>
                    </div>
                    <div class="tab-contents" id="skills">
                        <ul>
                            <li><span>Programming Languages</span><br>HTML/CSS/JavaScript, C, Python, Java, SQL</li>
                            <li><span>Related Tools</span><br>Git/GitHub, Figma, Database Design</li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="education">
                        <ul>
                            <li><span>Iowa State University</span><br>
                                BS in Management Information Systems<br>
                                Fall 2019-Summer 2024</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Portfolio-->
    <div id="projects">
        <div class="container">
            <h1 class="subtitle">Projects</h1>
            <div class="project-list">
                <div class="work">
                    <img src="/static/images/portfolio.jpg">
                    <div class="layer">
                        <h2>Personal Portfolio Website</h2>
                        <p>What you're looking at right now!</p>
                        <a href="https://github.com/samboerner/portfolio" target="_blank"><i class="fa-brands fa-github"></i></a>    
                    </div>
                </div>
                <div class="work">
                    <img src="/static/images/spotify-yt.png">
                    <div class="layer">
                        <h2>Spotify to YouTube Playlist Converter</h2>
                        <p>A Python Script that allows you to transfer Spotify playlists
                            to YouTube ones.
                        </p>
                        <a href="https://github.com/samboerner/playlist-converter" target="_blank"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Contact-->
    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="left">
                    <h1 class="subtitle">Get In Touch</h1>
                    <p><i class="fa-solid fa-envelope"></i> samboerner3@gmail.com</p>
                    <div class="socials">
                        <a href="https://www.linkedin.com/in/samuel-boerner/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/samboerner" target="_blank"><i class="fa-brands fa-square-github"></i></a>
                    </div>
                    <a href="/static/docs/SamBoernerResume.pdf" download class="btn btn2">Download Resume</a>
                </div>
                <div class="right">
                    <form method="post" id="contact-form">
                        <input type="text" id="name" name="name" placeholder="Name" required>
                        <input type="email" id="email" name="email" placeholder="Email" required>
                        <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
                        <button type="submit" class="btn btn2">Submit</button>
                    </form>
                    <span id="msg"></span>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright © Sam Boerner</p>
        </div>
    </div>
    <script src="/static/script.js"></script>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        var typed = new Typed('.typing', {
            strings: ["Sam."],
            typeSpeed: 200,
        })
    </script>
</body>
</html>