<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sam Boerner</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
    </style>
</head>
<body>
    <div id="header">
        <div class="container">
            <nav>
                <h1><span>Sam</span>Boerner.</h1>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <div class="header-text">
                <p>Software Developer</p>
                <h1>Hello, I'm <span>Sam</span></h1>
            </div>
        </div>
    </div>
    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="/images/profile.jfif">
                </div>
                <div class="about-col-2">
                    <h1 class="subtitle">About Me</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type 
                        specimen book. It has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised 
                        in the 1960s with the release of Letraset sheets containing Lorem Ipsum 
                        passages, and more recently with desktop publishing software like Aldus 
                        PageMaker including versions of Lorem Ipsum.
                    </p>
                    <div class="tab-titles">
                        <p class="tab-links" id="Skills" onclick="opentab('skills', 'Skills')">Skills</p>
                        <p class="tab-links" id="Education" onclick="opentab('education', 'Education')">Education</p>
                    </div>
                    <div class="tab-contents" id="skills">
                        <ul>
                            <li><span>Programming Languages</span><br>HTML/CSS/JavaScript, C, Python, Java, SQL</li>
                            <li><span>Related Tools</span><br>Git/GitHub, Figma, Database Design</li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="education">
                        <ul>
                            <li><span>Iowa State University</span><br>
                                BS in Management Information Systems<br>
                                Fall 2019-Summer 2024</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../script.js"></script>
</body>
</html>